<div class="container">
        <mat-form-field class="filter">
            <mat-label>Filter Kindergärten</mat-label>
            <mat-select [formControl]="filterKindergarten">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let k of storeService.kindergardens" [value]="k.name">{{k.name}}</mat-option>
            </mat-select>
        </mat-form-field>

    <div class="row justify-content-center align-items-center" matSort (matSortChange)="sortData($event)">
        <p class="col-xl-2 col-lg-3" mat-sort-header="name">Name</p>
        <p class="col-xl-2 col-lg-3" mat-sort-header="kindergartenName">Kindergarten</p>
        <p class="col-xl-2 col-lg-2">Adresse</p>
        <p class="col-xl-1 col-lg-1">Alter</p>
        <p class="col-xl-2 col-lg-2">Geburtsdatum</p>
        <p class="col-xl-2 col-lg-2" mat-sort-header="anmeldedatum">Anmeldedatum</p>
        <p class="col-xl-1 col-lg-1"></p>
    </div>
    <div *ngFor="let child of storeService.children | filterKindergardens: filterKindergarten.value" 
    class="row justify-content-center align-items-center">
        <p class="col-xl-2 col-lg-3">{{child.name}}</p>
        <p class="col-xl-2 col-lg-3">{{child.kindergarden.name}}</p>
        <p class="col-xl-2 col-lg-2">{{child.kindergarden.address}}</p>
        <p class="col-xl-1 col-lg-1">{{getAge(child.birthDate)}}</p>
        <p class="col-xl-2 col-lg-2">{{child.birthDate | date:'longDate'}}</p>
        <p class="col-xl-2 col-lg-2">{{child.registrationDate | date:'longDate'}}</p>
        <div class="col-xl-1 col-lg-1">
            <button mat-button (click)="openDialog(child.id)">Kind abmelden</button>
            <!-- <button (click)="cancelRegistration(child.id)">Kind abmelden</button> -->
        </div>
    </div>

    <mat-paginator #paginatorChildren
                    class="paginatorChildren"
                    (page)="handlePage($event)"
                    [length]="getChildrenCount()"
                    [pageSize]="pageSize"
                    aria-label="Select page">
    </mat-paginator>

</div>
