<div class="catalogue">

    <mat-card class="kindergarden-card">
        <a href="https://www.waldorfkindergarten1040.at/">
            <mat-card-header>
                <div mat-card-avatar class="header-img" id="waldorf"></div>
                <mat-card-title>Waldorfkindergarten</mat-card-title>
                <mat-card-subtitle>Oleandergasse 21, 1220 Wien</mat-card-subtitle>
            </mat-card-header>
        </a>
        <img mat-card-image src={{waldorfPoster}}>
        <mat-card-content>
            <p>
                Unser Hauptaugenmerk richtet sich in all unseren Bestrebungen auf das Wesen des Kindes. Seine Individualität zu erkennen und zu pflegen und in seiner Entwicklung zur Entfaltung zu bringen ist uns eine bewusste Aufgabe.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <a href="https://karl-schubert-kindergarten.at/de/">
            <mat-card-header>
                <div mat-card-avatar class="header-img" id="karl-schubert"></div>
                <mat-card-title>Kindergarten der Karl Schubert Schule</mat-card-title>
                <mat-card-subtitle>Kanitzgasse 1-3, 1230 Wien</mat-card-subtitle>
            </mat-card-header>
        </a>
        <img mat-card-image src={{karlSchubertPoster}}>
        <mat-card-content>
            <p>
                Sich wach und aufmerksam jedem Kinde zu widmen, ist ein kreativer Prozess. Möglich wird dies durch das Engagement jedes/jeder Einzelnen, durch kleine Gruppen und einen hohen Anteil an Betreuer/inne/n. Hier ist das Bemühen groß, eine Antwort auf die Lebensfragen der Kinder zu finden.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <a href="https://www.wien.gv.at/bildung/kindergarten/staedtisches-angebot/standorte/bezirk21.html">
            <mat-card-header>
                <div mat-card-avatar class="header-img stadt-wien"></div>
                <mat-card-title>Kindergarten der Stadt Wien</mat-card-title>
                <mat-card-subtitle>Audorfgasse 20, 1210 Wien</mat-card-subtitle>
            </mat-card-header>
        </a>
        <img mat-card-image src={{stadtWienPoster1}}>
        <mat-card-content>
            <p>
                Eltern können in Wien zwischen privaten und städtischen Kindergärten, Kindergruppen, Tageseltern und Horten wählen. Die Stadt Wien möchte allen Kindern die besten Startchancen für ihr weiteres Bildungsleben ermöglichen.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <a href="https://www.wien.gv.at/bildung/kindergarten/staedtisches-angebot/standorte/bezirk21.html">
            <mat-card-header>
                <div mat-card-avatar class="header-img stadt-wien"></div>
                <mat-card-title>Kindergarten der Stadt Wien</mat-card-title>
                <mat-card-subtitle>Moßbachergasse 20-24, 1140 Wien</mat-card-subtitle>
            </mat-card-header>
        </a>
        <img mat-card-image src={{stadtWienPoster2}}>
        <mat-card-content>
            <p>
                Eltern können in Wien zwischen privaten und städtischen Kindergärten, Kindergruppen, Tageseltern und Horten wählen. Die Stadt Wien möchte allen Kindern die besten Startchancen für ihr weiteres Bildungsleben ermöglichen.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <a href="https://montessori-kinderhaus-wien.at/">
            <mat-card-header>
                <div mat-card-avatar class="header-img" id="montessori"></div>
                <mat-card-title>Montessori Kinderhaus</mat-card-title>
                <mat-card-subtitle>Nußdorferstraße 6, 1090 Wien</mat-card-subtitle>
            </mat-card-header>
        </a>
        <img mat-card-image src={{montessoriPoster}}>
        <mat-card-content>
            <p>
                Maria Montessori stellte bei ihrer Arbeit mit Kindern fest, dass es in der kindlichen Entwicklung Phasen gibt, in denen das Kind eine besondere Empfänglichkeit, eine besondere Bereitschaft für den Erwerb bestimmter Fähigkeiten hat. Bewegung, Sprache und Ordnung sind die drei großen sensiblen Phasen in der frühen Kindheit.
            </p>
        </mat-card-content>
    </mat-card>

</div>
