<div class="catalogue">

    <mat-card class="kindergarden-card">
        <mat-card-header>
            <div mat-card-avatar class="header-img" id="waldorf"></div>
            <mat-card-title>Waldorfkindergarten</mat-card-title>
            <mat-card-subtitle>Oleandergasse 21, 1220 Wien</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{waldorfPoster}}>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <mat-card-header>
            <div mat-card-avatar class="header-img" id="karl-schubert"></div>
            <mat-card-title>Kindergarten der Karl Schubert Schule</mat-card-title>
            <mat-card-subtitle>Kanitzgasse 1-3, 1230 Wien</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{karlSchubertPoster}}>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <mat-card-header>
            <div mat-card-avatar class="header-img stadt-wien"></div>
            <mat-card-title>Kindergarten der Stadt Wien</mat-card-title>
            <mat-card-subtitle>Audorfgasse 20, 1210 Wien</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{stadtWienPoster1}}>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <mat-card-header>
            <div mat-card-avatar class="header-img stadt-wien"></div>
            <mat-card-title>Kindergarten der Stadt Wien</mat-card-title>
            <mat-card-subtitle>Moßbachergasse 20-24, 1140 Wien</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{stadtWienPoster2}}>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="kindergarden-card">
        <mat-card-header>
            <div mat-card-avatar class="header-img" id="montessori"></div>
            <mat-card-title>Montessori Kinderhaus</mat-card-title>
            <mat-card-subtitle>Nußdorferstraße 6, 1090 Wien</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{montessoriPoster}}>
        <mat-card-content>
            <p>
            </p>
        </mat-card-content>
    </mat-card>

</div>
