<form [formGroup]="addChildForm" #formDirective="ngForm" (ngSubmit)="onSubmit(formDirective)">
    <h2>Ihr Kind anmelden!</h2>
    <!-- <input placeholder="Name" type="input" formControlName="name"><br />
    <input placeholder="Geburtsdatum" type="date" formControlName="birthDate"><br />
    <select formControlName="kindergardenId">
        <option value="" disabled>Bitte auswählen</option>
        <option *ngFor="let kindergarden of storeService.kindergardens" [ngValue]="kindergarden.id">
            {{kindergarden.name}}, {{kindergarden.address}}</option>
    </select>
    <button type="submit">Erfassen</button> -->

    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
        <mat-error>Bitte geben Sie einen Namen ein!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Geburtstag</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="birthDate">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
        <mat-error>Bitte geben Sie ein Geburtsdatum ein!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bitte Kindergarten auswählen</mat-label>
        <mat-select formControlName="kindergardenId">
            <mat-option disabled>Bitte Kindergarten auswählen</mat-option>
            <mat-option *ngFor="let kindergarden of storeService.kindergardens" [value]="kindergarden.id">
                {{kindergarden.name}}, {{kindergarden.address}}</mat-option>
        </mat-select>
        <mat-error>Bitte wählen Sie einen Kindergarten aus</mat-error>
    </mat-form-field>

    <button mat-flat-button data-target="#exampleModalCenter">Erfassen</button>

</form>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
    </div>