<form [formGroup]="addChildForm" (ngSubmit)="onSubmit()">
    <!-- <h2>Ihr Kind anmelden!</h2>
    <input placeholder="Name" type="input" formControlName="name"><br />
    <input placeholder="Geburtsdatum" type="date" formControlName="birthDate"><br />
    <select formControlName="kindergardenId">
        <option value="" disabled>Bitte auswählen</option>
        <option *ngFor="let kindergarden of storeService.kindergardens" [ngValue]="kindergarden.id">
            {{kindergarden.name}}, {{kindergarden.address}}</option>
    </select>
    <button type="submit">Erfassen</button> -->

    <mat-form-field >
        <mat-label>Name</mat-label>
        <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Geburtstag</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="birthDate">
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Bitte Kindergarten auswählen</mat-label>
        <mat-select formControlName="kindergardenId">
            <mat-option *ngFor="let kindergarden of storeService.kindergardens" value={{kindergarden.id}}>
                {{kindergarden.name}}, {{kindergarden.address}}</mat-option>
        </mat-select>
    </mat-form-field>

    <button mat-flat-button type="submit">Erfassen</button>

</form>