<div class="container">
    <h1>Über uns </h1>
    <p>Willkommen bei der Kindergarten-App - das Tor zu einer freudigen Bildungsreise für Ihr Kind!
    
        Wir bei der Kindergarten-App wissen, dass die ersten Jahre im Leben eines Kindes entscheidend für seine gesamte Entwicklung sind. Deshalb haben wir eine Plattform geschaffen, die den Prozess der Anmeldung Ihrer Kleinen in einem Kindergarten vereinfacht und eine nahtlose und angenehme Erfahrung für Eltern und Kinder gleichermaßen gewährleistet.
        
        Unser Ziel ist es, eine benutzerfreundliche und informative Plattform bereitzustellen, die es den Eltern ermöglicht, fundierte Entscheidungen über die frühe Bildung ihres Kindes zu treffen. Wir glauben an die Wichtigkeit einer förderlichen Umgebung für die Entwicklung Ihres Kindes, und unser engagiertes Team hat es sich zur Aufgabe gemacht, Sie mit seriösen Kindergärten zu verbinden, bei denen Sicherheit, Lernen und Spaß im Vordergrund stehen.
        
        Entdecken Sie auf unserer Plattform wertvolle Ressourcen, fachkundige Beratung und ein unkompliziertes Anmeldeverfahren, das Ihr Kind auf den Weg in eine vielversprechende Zukunft bringt.
        
        Besuchen Sie uns auf der Kindergarten-App und begeben Sie sich auf die spannende Reise der frühkindlichen Bildung!
    </p>
</div>

<div class="container">
    <h2>Impressum</h2>
    <p>
        <strong>Kindergarten-App</strong><br>
        Kindergärten in Wien<br>
        Steinamangerstraße 21, <br>
        A-7423 Pinkafeld<br>
        kindergarten@hid.com<br>
        +43 5 7722<br>
        Geschäftsführender Direktor: Sirbescu Amalia<br>
        <br>
        Eingetragen in Österreich<br>
        <br>
        Handelsregisternummer: 12345678<br>
        <br>
        Umsatzsteuer-Identifikationsnummer: 12345678<br>
        <br>
        Verantwortlich für den Inhalt: Sirbescu Amalia<br>
        <br>
        Kindergarten-App ist eine Plattform zur Erleichterung des Anmeldeverfahrens für Kindergärten. Unser Ziel ist es, eine benutzerfreundliche Erfahrung für Eltern zu bieten, die auf der Suche nach frühkindlichen Bildungsmöglichkeiten für ihre Kinder sind. Obwohl wir uns bemühen, genaue und aktuelle Informationen anzubieten, können wir nicht für die Vollständigkeit oder Richtigkeit der Inhalte auf unserer Plattform garantieren.<br>
        <br>
        Für Anfragen, Feedback oder Bedenken bezüglich unserer Plattform kontaktieren Sie uns bitte unter kindergarten@hid.com.<br>
        <br>
        Bitte beachten Sie, dass Kindergarten-App nicht direkt in den Betrieb von Kindergärten involviert ist und jegliche vertraglichen Beziehungen ausschließlich zwischen Eltern/Erziehungsberechtigten und dem jeweiligen Kindergarten geschlossen werden.<br>
        <br>
        Vielen Dank, dass Sie Kindergarten-App für die Bildungsreise Ihres Kindes gewählt haben!<br>
    </p>
</div>

